<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Skill</h4>
                <form class="needs-validation" [formGroup]="skillForm" novalidate>
                    <div class="col-12">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="" value="" required>
                        <div class="invalid-feedback" formControlName="name">
                            Skill name is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="lastName" formControlName="description" placeholder="" value="">
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" (click)="onSubmit()">Save</button>
                </form>
            </div>
        </div>
    </main>
</div>